{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}HACKPACKR{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		{% block extra_css %}{% endblock %}
		
		<script src="{% static 'js/script.js' %}"></script>
		{% block extra_js %}{% endblock %}
	</head>
	<body>
		{% include "partials/header.html" %}
		{% block content %}{% endblock %}
		{% include "partials/footer.html" %}
		{% block deferred_js %}{% endblock %}
	</body>
</html>